main{
    margin: 1em;
}
#container{
	margin: 2em 4em 2em 4em;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    white-space: nowrap;
}
#productContent table tr{
flex-grow: 2;
}
#productContent table td{

}
#productContent table .colspan2{
    width: 1%;
}
.hidden{
    display: none;
}
.productHead{
    display: inline-block;
}
#addProduct {
	margin: 2.5em 2em 2.5em 2em;
    float: right;
}

.productImage{
	width: 100%;
	padding: 1em;
	text-align:center;
	border-left: 4px solid #183263;
}

/* buttons */

button, submit{
	background-color: #18bfef;
	border-radius: 1em;
}


.productItem, .userTable{
	border-collapse: collapse;
	margin-bottom: 1em;
}

.userTable td{
	padding: 0em 1em 0em 1em;
	font-size: 1.5em;
	border: thin solid #183263;

	text-align: center;
}

.productNameTitle, .productQuantityTitle, .productPriceTitle, .productSizeTitle{
	padding: 0em 1em 0em 1em;
	font-size: 1.5em;
	border: 4px solid #183263;
	text-align: center;
}

.productQuantity, .productPrice, .productSize {
	width:10%;
	}
	
.productName, .productQuantity, .productPrice, .productSize {
	
	text-align: center;
	border-left: 4px solid #183263;
	border-right: 4px solid #183263;
}

.editProduct{
	text-align: right;
	border: 4px solid #183263;
	padding: 0.5em;
}

.editProduct input{
	background-color: #18bfef;
	border-radius: 1em;
}