main{
    margin: 1em;
}
#container{
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
#container table{
    min-width: 50%;
}
#container table tr{
    border: 1px solid black;
}
#container table th{
    text-align: left;
}
