main{
    margin: 1em;
}
#container{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
#productContent table tr{
    border: 1px solid black;
}
#productContent table td{
    width: 50%
}
#productContent table .colspan2{
    width: 1%
}
.hidden{
    display: none;
}
.productHead{
    display: inline-block;
}
#addProduct {
    float: right;
}
