
#cartHeader{
    margin: 1em;
    padding-bottom: 0.2em;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid #183263;
}

#cartTable{
	border-collapse: collapse;
	margin: 0em 2em 2em 2em;
	white-space: nowrap;
}


#cartTable th{
	background-color: #183263;
	font-size: 1.1em;
	color: white;
}

#cartTable td, #cartTable th{
	border-bottom: 2px solid #183263;
	padding: 0.4em 1em 0.4em 0.4em;

}

.removeCol, .updateCol{
	text-align: center;
}

.button{
	background-color: #18bfef;
	border-radius: 1em;
	border-color: black;
}

#sumTotal{
	text-align: right;
}

#cartFooter{
	clear: left;
	 margin: 0.5em 0em 2em 8em;
}
.centerContents{
	text-align: center;
}
.quant{
	width:40%;
}
#cartTable a{
	text-decoration: none;
		color:#18bfef;
}

#cartTable a:hover{
	color: tomato;
}

footer{
	clear: left;
}

#emptyCart{
	margin: 0em 2em 2em 2em;
}