/*
centers form in middle of page
 */
#checkOutForm {
    width:50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    /*text-align: center;*/
    background-color: #183263;
    color: white;
    padding:1em;
}

#checkOutFormTitle {
    font-size: 3em;
    text-align: center;
    color: #18bfef;
}

/*
sets font size for labels and input fields
 */
.checkoutContainer {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size:1em;
}

#creditCardAndBillingAddressContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*
inline block display ensures that the div that holds the radio button is the width of the largest
radio button. All buttons are aligned on far left of this div
 */
#addressRadioGroup {
    display: inline-block;
    text-align: left;
}

/*
give each label a new line
 */
.elementLabel {
    display: block;
}

/*
sets labels to left of div. Inline-block display ensures that the width of the div
is the width of its largest element
 */
#creditCardElementsContainer {
    text-align: left;
    display: inline-block;
}


#checkOutButton {
    font-size: 1.1em;
}


/*
centers pay pal logo in middle
 */
#paypalButtonContainer {
    text-align: center;
}

/*
sets form input elements for user to input new address as hidden and removes
from normal flow
 */
#shippingAddressContainer {
    display:none;
}

#addressContainer {
    float:right;
}





