/* css for the footer section */

footer{
	min-width: 660px;
    background: #183263;    
    color: white;

}
#foot{
	margin: 1em 1em 0em 1em;
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footIcons{
	margin:1em 0em 1em 0em;
}

footer .socialMedia {
    padding-right: 10em;
}

footer .footLogo {
    flex: 0;
}

footer .footLogo img {
    width: 180px;
    height: 120px;
}

footer a {
    color: white;
}

footer a:hover {
    border-bottom-color: transparent;
    color: #18bfef;
}

footer .copyright {
    flex: 1;
}

footer .icons {
    padding: 0em 0em 0em 0em;
}

footer .icons p {
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
}

footer ul.icons li {
    box-shadow: inset 0 0 0 2px #e2e2e2;
}

footer ul.icons li a.icon:hover:before {
    box-shadow: inset 0 0 0 2px #18bfef;
}

footer ul.icons li {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 1.25rem;
}

footer .fa {
    padding-top: 0.4em;
}



