/* css for the footer section */

html,
body {
    margin: 0;
}

html,
body {
    min-width: 670px;
}

footer {
    border: 1px solid #e2e2e2;
    background: #183263;
/*    background: tomato;*/
    padding: 2em;
    margin: 1em;
    color: white;
    min-width: 670px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.socialMedia {
    padding-right: 10em;
}

.footLogo {
    flex: 0;
}

.footLogo img {
    width: 180px;
    height: 120px;
}

footer ul.icons li {
    box-shadow: inset 0 0 0 2px #e2e2e2;
}

footer ul.icons li a.icon:hover:before {
    box-shadow: inset 0 0 0 2px #18bfef;
}

a {
    color: white;
}

a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}

footer .copyright {
    flex: 1;
}

footer .icons {
    padding: 0em 0em 0em 0em;
}

.icons h3 {
    text-align: center;
}

ul.icons li {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    font-size: 1.25rem;
}
