@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
	font-family: 'Montserrat', Helvetica, sans-serif;
}
html, body{
	margin: 0;
}
#headerIcon{
	width:120px;
	height: 80px;
}

header{
	z-index: -1;
	padding-bottom: 1em;
	color: white;
	background-color: #183263;
}

#htop{
	white-space: nowrap;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	margin-bottom: 2em;
	overflow-y: auto;
	overflow-x: hidden;
}

#logo {
	width: 80px;
	flex-grow: 0;
}

#title{
	flex-grow: 10;
	margin-left: 80px;
}

#hbot{	
	white-space: nowrap;
	display: flex;
	align-items: stretch;
	flex-direction: row;
}

.hbotline{
	font-size: 1.2em;
}

#home{
	margin-left:1em;
	margin-right: 1em;
}

#home, #profile{
	color: white;
	text-decoration: none;
	width: 100px;
	flex-grow: 2;
}

#profile a:link, #profile a:visited, #home a:visited, #home a:link{
	color: white;
	text-decoration: none;
}

#searchbar{
	margin-right: 100px;
	width:100px;
	flex-grow: 6;
}

#searchicon{
	position: relative;
	left: -30px;
	top: 2px;
	color: #183263;
}
#searchicon:hover{
	color: #18bfef;
}

#textinput{
	width: 80%;
	flex-grow: inherit;
	height: 2em;
}

#profile{
	float: left;
	text-align: end;
	margin-right: 1em;
		display:flex;
	align-items: center;
	justify-content: center;
}


#shoppingcart{
	width: 40px;
	height: 40px;
}

#browsedropnav{
	display: none;
	margin: 0em;
	background-color: #183263;
	color: white;
	z-index: 10;
}

#browsedroptitle{
	color: #18bfef;
	float:left;
	font-size: 2em;
	margin: 0.5em 2em 1em 0.5em;
}

#browsedroplist{
	padding-bottom: 0.5em;
	list-style: none;
	padding-left: 2em;
	clear:left;
}

.browsedropitem{
	font-size: 1em;
	margin: 1em;
	padding: 0.5em;

}

.browsedroplink{
	text-decoration: none;
	color: white;
}

.browsedroplink:hover{
	color: tomato;
}