@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

html, body {
    margin: 0;

}

#headerIcon{
	width:180px;
	height: 120px;
}

header{
	min-width: 660px;
    z-index: 999;
    color: white;
    background-color: #183263;
}

/*the css to modify the sticky bar*/
header.sticky.top {
    position: sticky;
    top: 0;
}

#htop {
    white-space: nowrap;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    /*margin-bottom: 2em;*/
    overflow-y: auto;
    overflow-x: hidden;
}


#logo {
	width: 140px;
	flex-grow: 0;

}

#title {
    flex-grow: 10;
    margin-left: 80px;
}

#hbot {
    white-space: nowrap;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: 1.5em 0em 1em 0em;
}

.hbotline {
    font-size: 1.2em;
}

#variablebutton {
    margin-left: 1em;
    margin-right: 1em;
}

#variablebutton, #rightBot{
	color: white;
	text-decoration: none;
	flex-grow: 2;
}

#rightBot a:link, #rightBot a:visited, #homebutton:visited, #homebutton:link {
    color: white;
    text-decoration: none;
}

#searchbar {
    margin-right: 100px;
    width: 100px;
    flex-grow: 6;
}

#searchicon {
    position: relative;
    left: -30px;
    top: 2px;
    color: #183263;
}

#searchicon:hover {
    color: #18bfef;
}

#textinput{
	width: 100%;
	flex-grow: inherit;
	height: 2em;
}

#rightBot {
    float: left;
    text-align: end;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
}


#shoppingcart {
    width: 36px;
    height: 36px;
    position: relative;
    top: -6px;
}
.dividerClass{
	display:inline;
}
#browsedropsection{
	display: inline-block;
	    cursor: pointer;
}

#browsedropbutton {
    display: inline;
}

#browsedropnav{
	max-height: 500px;
	display: none;
	margin: -3em 0em 0em 0.2em;
	background-color: #183263;
	color: white;
	z-index: 10;
	border: thin solid white;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


#browsedroptitle {
    color: #18bfef;
    float: left;
    font-size: 2em;
    margin: 0.5em 1em 0.5em 0.5em;
}

#browsedroplist {
	overflow-y: auto;
	margin-top: 0em;
	max-height: 350px;
    padding-bottom: 0.5em;
    list-style: none;
    padding-left: 2em;
    clear: left;
}

.browsedropitem {
    font-size: 1em;
    margin: 1em;
    padding: 0.5em;

}

.browsedroplink {
    text-decoration: none;
    color: white;
}

.browsedroplink:hover {
    color: tomato;
}

#searchbar input {

    min-width: 105px;
}

#profile{
	margin-left:0.2em;
	margin-right:0.1em;
}

#admin{
	margin-left:0.1em;
	margin-right:0.1em;
}

#logout{
	margin-right:-1em;
	margin-left: 0.1em;
}

.breadcrumb {
	margin:0;
	background-color:#183263;
	color: white;
	padding-bottom:0.5em;
}
.breadcrumb a {
	color:#18bfef;
}
.breadcrumb a:visited {
	color:#18bfef;
}
.breadcrumb a:active {
	color:#dd9999;
}

button, input[type=submit]{
	background-color: #18bfef;
	border-radius: 1em;
	border-color: black;
}

select{
	background: #18bfef;
	border-radius: 1em;
	border-color: black;
}



button, input[type=submit]{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	-webkit-transform: translateX(0) translateY(0);
	-moz-transform: translateX(0) translateY(0);
	transform: translateX(0) translateY(0);
	-webkit-transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.2s ease-in-out, -moz-box-shadow 0.3s ease-in-out;
	transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
	cursor: pointer;
}
button:hover , input[type=submit]:hover{
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	-webkit-transform: translateX(-3px) translateY(-3px);
	-moz-transform: translateX(-3px) translateY(-3px);
	transform: translateX(-3px) translateY(-3px);
	-webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, -moz-box-shadow 0.4s ease-in-out;
	transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in-out;
	cursor: pointer;
}

.breadcrumb a{
	color: #18bfef;
}

.breadcrumb a:hover{
	color: tomato;
}
