
#main{
	display: flex;
	flex-direction: row;
	margin:2em;
}

#browsecol{
	margin: 2em 2em 2em 0em;
	background-color: #183263;
	color: white;
}

#browsetitle{
	color: #18bfef;
	float:left;
	font-size: 2em;
	margin: 0.5em 2em 1em 0.5em;
}

#browselist{
	padding-bottom: 1em;
	list-style: none;
	padding-left: 2em;
	clear:left;
}

.browseitem{
	font-size: 1.2em;
	margin: 1em;
	padding: 0.5em;

}

.browselink{
	
	text-decoration: none;
	color: white;
}

.browselink:hover{
	color: tomato;
}

#productviews{
	overflow: auto;
}

.products{
	margin: 2em 0em 2em 0em; 
	overflow-x: hidden;
	border: medium solid #183263;
}
.viewnamediv{
	position: relative;
	}
	
.viewname{
	white-space: nowrap;
	overflow: hidden;
	font-size: 2em;
	position: absolute;
	margin:0.1em 0em 0.1em 0.5em;
	text-decoration: underline;
	color: #18bfef;
}
.productlist{
	overflow: auto;
	display: flex;
	flex-direction: row;
	top: 2em;
}

.item{
	white-space: nowrap;
	padding: 0em 1.5em 0em 1.5em;
	margin: 3em 1em 1em 0em;
	border-right: 0.3em solid #183263;
	width: 225px;
	height: 225px;
}

.pname{
	
	font-size: 1.2em;
	text-align: center;
}

.extraStuff {
	display: flex;
	flex-direction: row;
}

.pimg{
	height: 150px;
	width: 150px;
}

.itemPrice{
	margin: 0.5em;
}

.numberOfLiams{
	margin: 0.5em;
	margin-top: 5em;
}
