#htop{
	margin-bottom: 2em;
	overflow: auto;
}
#logo {
	float: left;
	width: 80px;

}

#title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hbotline{
	display: inline;
	overflow: auto;
}

#searchbar{
/*
	margin-left: 10em;
	margin-right: 10em;
*/
	width: 70%;
	text-align: center;
}

#searchicon{
	
}
#searchform{
	display: inline;
}

#browse{
	float: left;
	width:100px;
}
#profile{
	float: right;
	width: 100px;
}


footer{
	clear: left;
}