html, body{

}

#main{
	display: flex;
	height:100%;
	flex-direction: row;
	margin:2em;
}

#browsecol{
	margin: 2em 2em 2em 0em;
	border: thin solid blue;
}

#browsenav{
	height: 100%;
	border: thin solid green;
}

#browsetitle{
	border: thin solid red;
/*
	float:left;
	margin-left: 1em;
*/
}

#browselist{
	list-style: none;

/* 	clear:left; */
/* 	width: 10em;*/ 
/* 	height: 100%; */

	border: thin solid pink;
}

#productviews{
	overflow: hidden;
}

.productList {
	display: flex;
	flex-direction: row;
}

#topselling, #liamspicks, #staffpicks, #onsale{
	margin: 2em 0em 2em 0em; 
	overflow: auto;
	border: medium solid #183263;
}

.item{
	white-space: nowrap;
	padding: 0em 1.5em 0em 1.5em;
	margin: 1em 1em 1em 0em;
	border-right: 0.3em solid #183263;
}
.pname{
	font-size: 1.2em;
	text-align: center;
}

.viewname{
	position: sticky;
	font-size: 2em;
	text-align: left;
	margin:0.1em 0em 0.1em 0.5em;
	text-decoration: underline;
	color: #18bfef;
}

.item {
	width: 225px;
	height: 225px;
}

.item img {
	height: 150px;
	width: 150px;
}

.extraStuff {
	display: flex;
	flex-direction: row;
}

.itemPrice{
	margin: 0.5em;
}

.numberOfLiams{
	margin: 0.5em;
	margin-top: 5em;
}
