/*
set width of forms and center in middle of page
 */
#loginForm, #signUpForm {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

/*
moves sign up form to right, sets background and text colours. Left margin maintains space
between forms
 */
#signUpForm {
    /*float: right;*/
    /*margin-right: 4em;*/
    /*margin-top: 4em;*/
    color:white;
    background-color: #183263;
    /*padding:1em;*/
    /*margin-left: 0.5em;*/
    /*margin-bottom:4em;*/
}
/*
sets background and text colours, sets right margin to maintain space between forms
 */
#loginForm {

    margin-top: 4em;
    color:white;
    background-color: #183263;
    padding:1em;
    margin-bottom: 1em;

}

/*
set titles in centre of forms
 */
#loginTitle, #signUpTitle {
    text-align: center;
    font-size: 3em;
    color: #18bfef;
}

/*
puts labels on seperate line from input elements
 */
.loginLabel, .signUpLabel {
    display: block;
    padding-bottom: 0.5em;
}

/*
shifts labels to far left of input element container of respective form. Setting
display to inline-block sets container to size of its contents
 */
#loginFormInputElements, #signUpInputElements {
    display:inline-block;
    text-align: left;
}

/*
aligns all form elements in centre of form
 */
fieldset {
    text-align: center;
}

/*
spaces out element in login form
 */
.loginFormElement {
    padding-top:1em;
    padding-bottom: 1em;
}

/*
spaces out elements in sign up form
 */
.SUformElement {
    padding-top:0.7em;
    padding-bottom:0.7em;
}

/*
prevents sign up form from jumping underneath
 */
/*#forms {*/
    /*display:flex;*/
    /*flex-direction:row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/
/*}*/


/*#forms >* {*/
    /*flex-basis:40%;*/
/*}*/

/*
forget me link
 */
a{
    color: #18bfef;
}
a:hover{
  color: tomato;
}
/*
center link
 */
#createAccountLink {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

