/*
set width of forms and center in middle of page
 */
#loginForm, #signUpForm, #passForgetForm, #newPassForm {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

/*
sets background and text colours, sets right margin to maintain space between forms
 */
#loginForm, #signUpForm, #passForgetForm, #newPassForm {

    margin-top: 4em;
    color:white;
    background-color: #183263;
    padding:1em;
    margin-bottom: 1em;

}

/*
set titles in centre of forms
 */
#loginTitle, #signUpTitle {
    text-align: center;
    font-size: 3em;
    color: #18bfef;
}

/*
puts labels on seperate line from input elements
 */
.loginLabel, .signUpLabel {
    display: block;
    padding-bottom: 0.5em;
}

/*
shifts labels to far left of input element container of respective form. Setting
display to inline-block sets container to size of its contents
 */
#loginFormInputElements, #signUpInputElements {
    display:inline-block;
    text-align: left;
}

/*
aligns all form elements in centre of form
 */
fieldset {
    text-align: center;
}

/*
spaces out element in login form
 */
.loginFormElement {
    padding-top:1em;
    padding-bottom: 1em;
}

/*
spaces out elements in sign up form
 */
.SUformElement {
    padding-top:0.7em;
    padding-bottom:0.7em;
}

/*
forget me link
 */
a{
    color: #18bfef;
}
a:hover{
  color: tomato;
}
/*
center link
 */
#createAccountLink, #loginLink {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

