#userOrderTable {
    width: 100%;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

.userOrderTableRow {
    border-bottom: thin dotted grey;
}

#userOrderTableFieldNames {
    border-bottom: thin black solid;
}

td {
    text-align: center;
}

#orderSummaryBody {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

