
#main{
	display: flex;
	flex-direction: row;
	margin:2em 2em 0em 2em;
}

img{
	max-height:180px;
	max-width: 180px;
	border-radius: 1em;
}

#refinecol{
	display: flex;
	height: auto;
	white-space: nowrap;
	align-items: stretch;
	padding: 1em;
	margin: 2em 2em 2em 0em;
	background-color: #183263;
	color: white;
	border-radius: 2em;
}

#refineform{
	display: flex;
	align-items: stretch;
	margin-bottom: 0em;
}
#refinefieldset{
	padding-top: 0em;
	border-color: #18bfef;
	border-radius: 1em;
	color: white;
}
#searchResultsTitle{
	font-size: 2em;
	padding-left: 1em;
	white-space: nowrap;
	float: left;
	margin:0em;
	color: white;
}
#sortby{
	background-color: #183263;
	padding: 0.2em;
	margin: 1em;
	white-space: nowrap;
	border-radius: 2em;
	padding-right: 1em;
}

#sortform{
	float: right;
	margin-bottom: 0em;
	white-space: nowrap;
}

#sortlabel{
	color: white;
	white-space: nowrap;
}
#categoryviews{
	white-space: nowrap;
	margin: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.item{
	border-radius: 1em;
	margin: 1em;
	display: flex;
	flex-direction: row;
	border: thin solid #183263;
}
.item.hidden {
	display:none;
}

.itempicture{
	margin: 1em 1em 1em 1em;

}

.iteminfo{
	width: 100%;
	margin: 1em;


}
.pname{
	float: left;
	font-size: 1.2em;
	margin: 1em 0em 2em 1em;

}
.pname a{
	text-decoration: none;
	color:black;
}

.itemprice{
	clear: left;
	font-size: 1.2em;
	margin: 1em;

}

.numberofliams{
	float: right;
	margin: 1em;

}

.addtocart{
	clear:right;
	float: right;
	margin: 1em;

}
.addtocart button{
	font-size: 1.1em;
    background-color: #18bfef;
    height: 2em;
}

.addtoCart button:hover {
    background-color: tomato;
    color: white;
}

#pagenumber{
	margin: 1em 20em 1em 30em;
	text-align: center;


}
#number{
	
}
#pagenumber a{
	background-color: #183263;
	color: white;
	padding: 0.1em 0.5em 0.1em 0.5em;
	margin-right: 0.1em;
	border-radius: 2em;
	text-align: center;
	text-decoration: none;
}
#pagenumber a:hover,  #pagenumber a:visited:hover{
	color: tomato;
}
#pagenumber a:visited{
	color: #18bfef;
}

.checked{
	color: orange;
}

#number >a.active {
	text-decoration: underline;
	color:orange;
}

#refineSearchBtn{
	margin: 1em
}

.refinelabel{
	margin: 1em 0em 0.5em 0em;
}

