/*css for single product*/

.bigboi {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    background-color: white;
}

html {
    /*    min-width: 413px;*/
    min-width: 734px;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sideContent {
    order: 2;
    width: 100%;
}

.container img {
	max-width: 400px;
	max-height: 400px;
    /*    border: 1px solid red;*/
    order: -1;
    align-self: flex-start;
    padding: 2em;
}

.pName h1 {
    /*    border: 1px solid blue;*/
    /*        padding: 0.5em;*/
    margin-bottom: 0;
}

.pName p {
    margin-top: 0;
}

.pDesc {
    /*    border: 1px solid orange;*/
    /*    padding-left: 0.5em;*/
}

#myform {
    text-align: left;
    padding: 5px;
    /*    border: 1px dotted #ccc;*/
    /*    margin: 2%;*/
}

.quant p {
    margin: 0;
    margin-left: 1.75em;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}



select.size {
    text-align-last: center;
    margin-left: 4em;
}

.checked {
    color: orange;
}

.rating {
}

.oldPrice {
    text-decoration: line-through;
}

.sale {
    font-size: 1.5em;
    color: tomato;
}

/* button css */
.pageButtons {
    font-size: 1.5em;
    background-color: #18bfef;
    margin-left: 3em;
    height: 2em;
    overflow: hidden;
    /*    background-color: orange;*/
    /*    color: white;*/
    border-radius: 0.7em;
}

.pageButtons:hover {
    background-color: tomato;
    color: white;
}

#writeReviewButton {
    font-size: 0.95em;
    margin-left: 1em;
}

#writeCommentButton {
    margin-left: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
}

#reviews {
    padding: 0.5em;
    /*    margin: 2em;*/
    margin-top: 0;
    /*border-top: 1px solid #18bfef;*/
    /*    background-color: #93daf0;*/
    /*    border: 1px solid black;*/
}

#reviews h3 {
    margin-top: 0;
    border-top: 1px dashed #18bfef;
    padding-top: 0.5em;
    border-bottom: 1px dashed #18bfef;
    padding-bottom: 0.5em;

}

#reviews h3 a {
    border: 1px solid transparent;
    background-color: #18bfef;
    padding: 0.5em;
    border-radius: 5em;
    color: black;
}

#reviews .byline {
    font-style: italic;
    margin-bottom: 0.5em;
}

#reviews p {
    margin-top: 0;
}

#reviews .reviewDescription {
    padding-bottom: 0.5em;
    border-bottom: 1px dashed #18bfef;
}

#reviews .userProfile {
    margin: 0;
}

#reviews .userProfile time {
    /* color: lightblue; */
    font-size: 0.85em;
}

#reviews img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    align-self: center;
    border: 1px solid tomato;
}

#reviews a {
    text-decoration: none;
    padding-left: 1em;
}

#reviews .userRating {
    padding-top: 0.5em;
    margin: 0;
    /*    padding-left: 1em;*/
}

#reviews .reviewTitle {
    padding-top: 0.5em;
    font-weight: bold;
}

#reviews a:visited {
}

/* ---------------NEW STUFF---------------*/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.closeComment, .closeReview {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeComment:hover, .closeReview:hover,
.closeComment:focus, .closeReview:focus {
    color: tomato;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #183263;
    color: white;
    font-size: 15px;
}

.modal-body {
    padding: 2px 16px;

}

.modal h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.255;
    margin: 1em;

}

.ratingInput {
    margin-left: 1.75em;
    font-size: 15px;
}

#reviewInput {
    width: 100%;
    max-width: 100%;
    min-width: 50%;
    font-size: 18px;
}

.modal-footer .footerNote {
    margin: 0;
    padding-top: 0.5em;
}

.modal-footer .modal-submit {
    padding-top: 1em;
}

.modal-footer button {
    font-size: 18px;
}

.modal-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #183263;
    color: white;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.qtyplus, .qtyminus{
	background-color: #18bfef;
	border-radius: 1em;
	border-color: black;
	color: white;
	font-size: large;
	text-align: center;
    width: 18px;
    height: 18px;
    line-height: 10px;
    padding: 0em;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
