header{
	padding-bottom: 1em;
	color: white;
	background-color: #183263;
}

html, body{
	margin: 0;
}

#htop{
	white-space: nowrap;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	margin-bottom: 2em;
	overflow-y: auto;
	overflow-x: hidden;
}
#logo {
	width: 80px;
	flex-grow: 0;

}

#title{
	text-align: center;
	flex-grow: 10;
	margin-left: 80px;
}

#hbot{	
	white-space: nowrap;
	display: flex;
	align-items: stretch;
	flex-direction: row;
}

.hbotline{
	font-size: 1.2em;
}

#browse, #profile{
	width: 100px;
	flex-grow: 2;
}

#browse{
}

#searchbar{
	margin-right: 100px;
	width:100px;
	flex-grow: 6;
}

#searchform{
}

#textinput{
	width: 80%;
	flex-grow: inherit;
	height: 2em;
}

#profile{
text-align: end;
}

#browsenav{
	display: none;
}

footer{
	clear: left;
}